<!DOCTYPE html>
<html lang="en">
<%- include __head.ejs %>
  <body>
    <h1>Welcome to King Pong</h1>

    <br>

  <h3>Recent Matches:</h3>
    <table style="width:400px">
      <thead>
        <tr>
          <td>Winner name</td>
          <td>Winner score</td>
          <td>Loser name</td>
          <td>Loser score</td>
        </tr>
      </thead>
      <tbody>
      <% for (i=0;i<games.length;i++){ %>
        <tr>
          <td><%= games[i].winner.name %></td> <td><%= games[i].winner.score %></td>
          <td><%= games[i].loser.name %></td> <td><%= games[i].loser.score %></td>
        </tr>
      <% } %>
    </tbody>
    </table>

    <br>
    <br>

    <h3>Here are the current standings for KISSmetrics:</h3>
    <table style="width:400px">
      <% for (i=0;i<users.length;i++){ %>
        <tr>
          <td><%= users[i].name %></td>
          <td><%= users[i].rating %></td>
        </tr>
      <% } %>
    </table>

    <h3>Add a new user:</h3>
    <form method="POST" id="addUser">
      <input type="text" name="newUser" placeholder="enter your name...">
      <input type="submit" value="Submit">
    </form>


    <br>
    <br>

    <span>Player</span><span style="margin-left: 50px;">Score</span>
    <form method="POST" id="updateRating">
      <select name="player1">
        <% for (i=0;i<users.length;i++){ %>
          <option value="<%= users[i].name %>"><%= users[i].name %></option>
        <% } %>
      </select>
      <input type="number" name="p1_score">
      <br>
      <select name="player2">
        <% for (i=0;i<users.length;i++){ %>
          <option value="<%= users[i].name %>"><%= users[i].name %></option>
        <% } %>
      </select>
      <input type="number" name="p2_score">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>